<html>
 
<head>
    <title>{{title}}</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/datepicker.css">
  	<style>
        
      body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
      #position{
        position: relative;
        left:5%;
      }
      #position2
      {
        position:fixed;
        top:10%;
        right:20%;
      }
      </style>

</head>
 
<body>
 	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                  <a class="brand" href="#">Personal blog</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"> <a href="/">Home</a></li>
              <li><a href="/about">About Me</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    	{{{body}}}
	</div>
 	

 	<script src="http://code.jquery.com/jquery.js"></script>
   <script src="/bootstrap/js/jquery-1.9.1.min.js"></script>
  <script src="/bootstrap/js/bootstrap-datepicker.js"></script>
          <script type="text/javascript">
              // When the document is ready
              $(document).ready(function () {
                  
                  $('#example1').datepicker({
                      format: "dd/mm/yyyy"
                  });  
              
              });
          </script>
    <!-- footer -->
    <footer>

    </footer>
     
</body>
</html>